<div class="dpanelgridcenter pure-g">
    <div class="dpanelcontainer pure-u-1 pure-u-lg-1-2 pure-u-md-2-3">
        <div class="dpanel">
            <div class="dpanelheader">Room Details</div>
            <div class="dpanelcontent" style="padding-bottom: 0px;">
                <div class="">

                    <div class="form-group"
                         ng-class="{ 'has-error': roomForm.roomNumber.$touched && roomForm.roomNumber.$invalid || roomForm.$submitted }">
                        <label for="roomNumber" class="col-sm-3 control-label">Room Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="roomNumber" id="roomNumber" placeholder="Room Number"
                                   ng-model="room.roomNumber"
                                   ng-minlength="1"
                                   ng-disabled="isEdit(true)"
                                   ng-maxlength="8"
                                   integer
                                   required/>

                            <!-- Below is an example of showing ng-messages inline -->
                            <div ng-messages="roomForm.roomNumber.$error" class="help-block" role="alert"
                                 ng-if="roomForm.$submitted || roomForm.roomNumber.$touched" ng-messages-multiple>
                                <span ng-message="required">Required field!</span>
                                <span ng-message="integer">The value is not a valid integer!</span>
                                <span ng-message="minlength">Entered value is too short.</span>
                                <span ng-message="maxlength">Entered value is too long.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': roomForm.roomPrice.$touched && roomForm.roomPrice.$invalid || roomForm.$submitted }">
                        <label for="roomPrice" class="col-sm-3 control-label">Room Price</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="roomPrice" id="roomPrice"
                                   placeholder="Room Price"
                                   ng-model="room.roomPrice"
                                   ng-maxlength="6"
                                   price
                                   required/>

                            <div ng-messages="roomForm.roomPrice.$error" class="help-block" role="alert"
                                 ng-if="roomForm.$submitted || roomForm.roomPrice.$touched" ng-messages-multiple>
                                <div ng-messages-include="partials/messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': roomForm.roomType.$touched && roomForm.roomType.$invalid || roomForm.$submitted }">
                        <label for="roomType" class="col-sm-3 control-label">Room Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="roomType" id="roomType"
                                   ng-model="room.roomType"
                                   placeholder="Room Type"
                                   ng-maxlength="45"
                                   required/>

                            <div ng-messages="roomForm.roomType.$error" class="help-block" role="alert"
                                 ng-if="roomForm.$submitted || roomForm.roomType.$touched" ng-messages-multiple>
                                <div ng-messages-include="partials/messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': roomForm.image.$touched && roomForm.image.$invalid || roomForm.$submitted }">
                        <label for="image" class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="image" id="image"
                                   ng-model="room.image"
                                   placeholder="Image"
                                   ng-maxlength="225"
                                   required/>

                            <div ng-messages="roomForm.image.$error" class="help-block" role="alert"
                                 ng-if="roomForm.$submitted || roomForm.image.$touched" ng-messages-multiple>
                                <div ng-messages-include="partials/messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': roomForm.description.$touched && roomForm.description.$invalid || roomForm.$submitted }">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
        <textarea rows="10" class="form-control" name="description" id="description"
                  placeholder="Room description"
                  ng-model="room.description"
                  required></textarea>

                            <div ng-messages="roomForm.description.$error" class="help-block" role="alert"
                                 ng-if="roomForm.$submitted || roomForm.description.$touched" ng-messages-multiple>
                                <div ng-messages-include="partials/messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-primary dpanelbutton"
                                   ng-disabled="roomForm.$invalid"
                                   value="Save"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






