 <form>
        <div class="dpanelgridcenter pure-g">

            <div class="dpanelcontainer pure-u-1 pure-u-lg-1-2 pure-u-md-2-3">
                <div class="dpanel">
                    <div class="dpanelheader">Customer Info</div>
                    <div class="dpanelcontent">
                        <div class="dinputtable">
                            <div class="dinputrow">
                                <span>First name:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Last name:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Address:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>City:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>State:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Phone number:</span>
                                <input type="text"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dpanelcontainer pure-u-1 pure-u-lg-1-2 pure-u-md-2-3">
                <div class="dpanel">
                    <div class="dpanelheader">Reservation Info</div>
                    <div class="dpanelcontent">
                        <div class="dinputtable">
                            <div class="dinputrow">
                                <span>Room number:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Check in:</span>
                                <input type="text" id="checkin"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Check out:</span>
                                <input type="text" id="checkout"></input>
                            </div>
                            <div class="dinputrowradio">
                                <span>Payment method:</span>
                                <div class="dradiorow"><input type="radio" name="payment_method" value="Visa" checked></input>Visa</div>
                                <div class="dradiorow"><input type="radio" name="payment_method" value="MasterCard"></input>MasterCard</div>
                                <div class="dradiorow"><input type="radio" name="payment_method" value="Cash"></input>Cash</div>
                            </div>
                            <div class="dinputrow">
                                <span>Card number:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Card expiration:</span>
                                <input type="text"></input>
                            </div>
                            <div class="dinputrow">
                                <span>Description:</span>
                                <input type="text"></input>
                            </div>
                        </div>
                    </div>
                    <div class="dpanelaction">
                        <input type="submit" class="dpanelbutton" value="Reserve">
                    </div>
                    
                </div>
            </div>

        </div>
    </form>
