 <div class="dpanelgridcenter pure-g">
        <div class="dpanelcontainer pure-u-1 pure-u-lg-1-2 pure-u-md-2-3">
            <div class="dpanel">
                <div class="dpanelheader">Search</div>
                <div class="dpanelcontent" style="padding-bottom: 0px;">
                    <div class="dinputtable">
                        <div class="dinputrow">
                            <span>Starting:</span>
                            <input type="text" id="starting"></input>
                        </div>
                        <div class="dinputrow">
                            <span>Ending:</span>
                            <input type="text" id="ending"></input>
                        </div>
                        <div class="dinputrow">
                            <span>Customer name:</span>
                            <input type="text"></input>
                        </div>
                        <div class="dinputrow">
                            <span>Room name:</span>
                            <input type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">Clear</a>
                    <a href="#" class="dpanelbutton">Apply</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dcenter">
        <span class="dtitle">Reservations</span>
    </div>

    <div class="dpanelgridcenter pure-g">

        <div class="dpanelcontainer pure-u-1 pure-u-md-1-3">
            <div class="dpanel">
                <div class="dpanelheader">Mr. Malcolm Reynolds</div>
                <div class="dpanelcontent">
                    <p>Room: 409</p>
                    <p>Check-in: 31/10/2016 9:00 AM</p>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">View details</a>
                </div>
            </div>
        </div>

        <div class="dpanelcontainer pure-u-1 pure-u-md-1-3">
            <div class="dpanel">
                <div class="dpanelheader">Ms. Zoë Washburne</div>
                <div class="dpanelcontent">
                    <p>Room: 411</p>
                    <p>Check-in: 31/10/2016 9:00 AM</p>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">View details</a>
                </div>
            </div>
        </div>

        <div class="dpanelcontainer pure-u-1 pure-u-md-1-3">
            <div class="dpanel">
                <div class="dpanelheader">Mr. Simon Tam</div>
                <div class="dpanelcontent">
                    <p>Room: 408</p>
                    <p>Check-in: 31/10/2016 10:00 AM</p>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">View details</a>
                </div>
            </div>
        </div>

        <div class="dpanelcontainer pure-u-1 pure-u-md-1-3">
            <div class="dpanel">
                <div class="dpanelheader">Mr. Jayne Cobb</div>
                <div class="dpanelcontent">
                    <p>Room: 405</p>
                    <p>Check-in: 31/10/2016 11:00 AM</p>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">View details</a>
                </div>
            </div>
        </div>

        <div class="dpanelcontainer pure-u-1 pure-u-md-1-3">
            <div class="dpanel">
                <div class="dpanelheader">Ms. Kaylee Frye</div>
                <div class="dpanelcontent">
                    <p>Room: 400</p>
                    <p>Check-in: 31/10/2016 12:00 AM</p>
                </div>
                <div class="dpanelaction">
                    <a href="#" class="dpanelbutton">View details</a>
                </div>
            </div>
        </div>

    </div>
